@use '@sassUtils/mixins/cvColors' as *;

.cv.first-style{
    @include getStyleColors('first-style'); 
}

.cv.third-style{
    @include getStyleColors('second-style'); 
}

.cv.third-style{
    @include getStyleColors('third-style'); 
}


.technologies{
    .list-svg{
        fill: black;
    }

    .technology svg:not(.circle, .react, .angular) {
        fill: var(--clr-primary);
    }

    .list-svg{
        fill: var(--clr-secondary);
    }

    .ribon .name{
        fill: var(--clr-secondary);
    }
}

.list.technologies {
    > :nth-child(4n + 5){
        margin: 0;
    }

    > :first-child{
        width: 98%;
        display: block;
        margin: 5% 0 1% 0;
    }
}

.names {
    > :nth-child(4n + 1){
        width: 19.5%;
        margin-right: 3.25%;
    }

    .name {
        height: 66%;
        display: inline-block;
    }

    > div{
        position: relative;
        display: inline-block;
        text-align: center;
        height: 2vw;
        width: 25.5%;
    }
}

.node-js,
.next-js{
    fill: var(--clr-primary);;
}

.next-js{
    stroke-width: 7px;
    stroke: var(--clr-primary);;
}

.jenkins{
    .circle,
    .towel{
    fill: var(--clr-primary);;

    }

    .tie{
        fill: var(--clr-secondary);;
    }
}

.first-style .technologies {
    .node-js,
    .next-js{
        fill: var(--clr-secondary);;
    }

    .next-js{
        stroke: var(--clr-secondary);;
    }

    .ribon{
        fill: white;
        
        .name,
        .list-svg{
            fill: var(--clr-primary);
        }
    }
}