.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
    width: 100%;

    .image-container{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 70%;
        
        img{
            width: 100%;
        }
    }

    .data{
        flex-direction: row;
        width: 100%;
        font-size: 2.9vw;
        justify-content: center;
        font-family: Abril;
        display: flex;
        font-weight: bold;
        color: black;
        box-sizing: border-box;
                
        a:hover,
        a:focus{
            transform: scale(1.1);
        }

        > div{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        svg{
            width: 12%;
            margin-right: 2%;
        }
    }

    @media only screen and (min-width: 742px) {
        justify-content: flex-end;
        flex-direction: row;

        .image-container{
            width: 20%;
            justify-content: flex-end;
            align-items: center;

            img{
                margin-right: 4%;
            }
        }

        .data{
            flex-direction: column;
            font-size: 0.85vw;
            padding-left: 3%;
            width: 42%;

            svg{
                width: 12%;
                margin-right: 4%;
            }

            > div {
                justify-content: flex-start;
            }
            
            .phone{
                margin-bottom: 2%;
            }
        }
    }
}