.languages .list-svg{
    fill: white;
}
.list.languages > div:not(:first-child) .ribon{
    fill: white;
}
.list.languages > div:not(:first-child) .name{
    fill: black;
    height: 35%;
    filter: url(#name-shadow);
}
.list.languages > div:first-child .name{
    fill: white;
    height: 56%;
    filter: url(#name-shadow);
}
.javascript{
    width: 39%;

}
.languages .dots{
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6%;
}