.list{
    margin-top: 3%;
    font-size: 1.5vw;
}
.list > div:not(:first-child){
    text-transform: uppercase;
    margin-top: 3.2%;
    fill: white;

}
.name{
    fill: black;
    filter: url(#name-shadow);
}
.list-svg{
    height: 50%;
    fill: black;
    margin-left: auto;
    margin-right: 6%;
}