.list.languages {
    > div:not(:first-child) .ribon{
        fill: white;
    }

    > div:not(:first-child) .name{
        fill: black;
        height: 35%;
    }

    > div:first-child .name{
        fill: white;
    }

    .dots{
        align-items: center;
        justify-content: flex-end;
        padding-right: 6%;
        width: 56%;
        margin-left: auto;
    }

    .javascript{
        width: 39%;
    
    }
}