.animations{
    position: relative;
    height: 100%;
    transition: transform 1.5s;

    > div{
        position: relative;
        transition: transform 1.5s;

        &:hover{
            z-index: 2;
        }

        .translate-wrapper{
            transition: transform 1.5s;
        }
    }
}

@media only screen and (orientation: landscape) {
    .animations{
        display: flex;
        align-items: center;
        height: 100%;
    
        &.tasks-visited .tasks-animation-wrapper,
        &.tasks-visited .profile-animation-wrapper {
            transform: translate(20%, 15%);
        }
    
        &.profile-visited .tasks-animation-wrapper,
        &.profile-visited .profile-animation-wrapper {
            transform: translate(-20%, 30%);
        }

        & > div {
            height: 34%;
        
            .translate-wrapper{
                height: 100%;
    
                svg{
                     height: 100%;
                }
            }
        }
    
        .tasks-animation-wrapper {
            margin-top: 10vh;
            left: 5vh;
            width: 50vw;
        }
    
        .restaurant-animation-wrapper {
            position: relative;
            width: 50vw;
            margin-top: 4vh;
            align-self: flex-end;
            margin-bottom: 12vh;
            height: 31%;
            left: 76vh;
            margin-left: 5vw;
        }
    
        .extensions-animation-wrapper {
            height: 40%;
            align-self: flex-start;
            margin-top: 7vh;
            width: 50vw;
            display: flex;
            justify-content: flex-end;
            left: 52vh;
        }
    
        .profile-animation-wrapper {
            align-self: start;
            margin-top: 14vh;
            height: 21%;
            width: 45vw;
            display: flex;
            justify-content: flex-end;
        }
    
        .chat-animation-wrapper {
            height: 45%;
            width: 100vw;
            display: flex;
            justify-content: flex-end;
            margin-left: -23vh;
            right: 6vw;
        }
    }

    .scroll.first-slide .animations{
        &.extensions-visited .extensions-animation-wrapper,
        &.extensions-visited .restaurant-animation-wrapper {
            transform: translate(-28%, 15%);
        }
    }
 
}

@media only screen and (orientation: portrait) {
    .animations{
        > div{
            margin-bottom: 18%;
    
            .translate-wrapper{
                width: 66%;
                display: inline-block;
            
                svg{
                    width: 100%;
                }
            }
        }
    
        .restaurant-animation-wrapper {
            > div{
                margin-left: 2%;
            }
        }
    
        .extensions-animation-wrapper {
            text-align: center;
    
            > div{
                margin-left: 9%;
            }
        }
    
        .chat-animation-wrapper {
            text-align: center;
    
            > div{
                width: 41%;
            }
        }
        
        .tasks-animation-wrapper {
            text-align: right;
    
            > div{
                margin-right: 15%;
                margin-top: 8%;
            }
        }

    }
}