$projects: (
    tasks: ( 
        primary: hsl(179deg, 78%, 18%),
        secondary: black,
    ),
    
    restaurant: (
        primary: hsl(356deg, 89%, 34%),
        secondary: black
    ),

    extensions: (
        primary: hsl(285deg, 83%, 20%),
        secondary: black
    ),

    profile: (
        primary: hsl(22deg, 41%, 18%),
        secondary: black
    ),

    chat: (
        primary: hsl(21deg, 78%, 46%),
        secondary: black
    )
);

$cv: (
    first-style: (
        primary: black,
        secondary: hsl(350deg, 97%, 42%)
    ),

    second-style: (
        primary: hsl(21deg, 78%, 46%),
        secondary: black
    ),

    third-style: (
        primary: hsl(234deg, 87%, 50%),
        secondary: white
    )
)