.profile-animation{
    $priamry-clr: hsl(22deg, 41%, 18%);
    $secondary-clr: black;

    fill: $secondary-clr;

    .shadow {
        filter: url(#profile-shadow);
    }
    .fill-primary{
        fill: $priamry-clr;
    }
}