.profile-animation{
    $priamry-clr: hsl(22deg, 41%, 18%);
    $secondary-clr: hsl(48deg, 11%, 91%);

    fill: $secondary-clr;

    :not(g){
        filter: url(#projects-shadow);
    }
    .fill-primary{
        fill: $priamry-clr;
    }
}