.dots{
    display: flex;
}
.dots svg{
    width: 1.1vw;
    fill: black;
    position: relative;
    margin-right: 0.45vw;
}
.dots svg circle{
    filter: url(#dot-shadow)
}
.first-style .languages div:nth-of-type(2) .dots > svg:nth-child(-n+3),
.first-style .languages div:nth-of-type(3) .dots > svg:nth-child(-n+2),
.first-style .languages div:nth-of-type(4) .dots > svg:nth-child(-n+1){
        fill: white;
}
.first-style .languages div:nth-of-type(4) .dots > svg:nth-child(n + 3){
    opacity: 0;
}