.technologies .list-svg{
    fill: black;
}
.list.technologies > :nth-child(4n + 5){
    margin: 0;
}
.names > :nth-child(4n + 1){
    width: 19.5%;
    margin-right: 3.25%;
}
.list.technologies > :first-child{
    width: 98%;
    display: block;
    margin: 5% 0 1% 0;
    fill: white;
}
.names > div{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 2vw;
    width: 25.5%;
}
.names .name {
    height: 66%;
    display: inline-block;
}
.node-js,
.next-js{
    fill: #d20326;
}
.next-js{
    stroke-width: 7px;
    stroke: #d20326;
}
.first-style .jenkins .circle,
.first-style .jenkins .towel{
    fill: #d20326;
}
.first-style .jenkins .tie{
    fill: white;
}