.cv{
    overflow-y: scroll;   
    
    .translate-wrapper{
        display: flex;
        padding-top: 17.6%;
        padding-bottom: 3%;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        position: relative;
    }
}