@use '@sassUtils/maps/colors' as *;
@use 'sass:map';

@mixin getStyleColors($style) {
    $map: map.get($cv, $style);

    --clr-primary: #{map.get($map, 'primary')};
    --clr-secondary: #{map.get($map, 'secondary')};
    --clr-accent: #{map.get($map, 'accent')};
}