.cv{
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    position: relative;
    z-index: 3;
    background: white;
    width: 50%;
    
    svg{
        transition: fill 11s 5s;
    }

    .github path{
        stroke-width: 1px;
        stroke: black;
        filter: url(#github-shadow); 
    }
      
    .translate-wrapper{
        display: flex;
        padding-bottom: 3%;
        width: 100%;
        margin: auto;
        position: relative;
        flex-direction: column;
    }

    .panels{
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    @media only screen and (min-width: 700px) and (orientation: landscape) {
        .translate-wrapper{
            width: 60%;
        }

        .panels{
            flex-direction: row;
        }
    }

    @media only screen and (min-width : 896px) and (max-width: 1100px){
        .translate-wrapper{
            width: 86%;
        }
    }

    @media only screen and (max-width : 896px) and (orientation : landscape) { 
        .translate-wrapper{
            padding-bottom: 5vh;
            width: 95%;
        }
    }
}

.projects-section .cv{
    height: 100vh;
}