.cv{
    overflow-y: scroll;   
    position: relative;
    z-index: 3;
    background: white;
    
    svg{
        transition: fill 11s 5s;
    }

    .github path{
        stroke-width: 1px;
        stroke: black;
        filter: url(#github-shadow); 
    }

    &::-webkit-scrollbar {
        width: 0.55vw;
    }
       
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 0.4vw;
    }
      
    .translate-wrapper{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3%;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        position: relative;
    }

    @media only screen and (max-width: 742px) and (orientation:portrait){
        .translate-wrapper{
            width: 100%;
            flex-direction: column;
        }
    }

    @media only screen and (max-device-height : 896px) and (orientation : landscape) { 
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    
    
        .translate-wrapper{
            padding-bottom: 8vh;
            width: 75%;
        }
    }
}