.projects-root .background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;

    svg{
        position: absolute;
    }
}
.red-blob{
    width: 70%;
    top: 23%;
    right: -47%;
    transform: rotate(119deg);
    fill: #a40a14;

    // width: 36%;
    // bottom: -2%;
    // left: 18%;
    // transform: translateY(33%);
    fill: #a40a14;

    path{
        filter: url(#red-blob-shadow);
    }
}
.brown-blob {
    width: 45%;
    bottom: -20%;
    right: -21%;
    fill: hsl(22deg, 41%, 18%);

    path{
        filter: url(#brown-blob-shadow);
    }
}
.green-blob{
    width: 48%;
    left: 6%;
    transform: translateY(-54%);
    // width: 42%;
    // left: 14%;
    // transform: translateY(-52%);
    fill: hsl(179deg, 89%, 21%);

    path{
        filter: url(#green-blob-shadow);
    }
}

.purple-blob{
    fill: #48095d;
    top: 42%;
    transform: rotate(58deg);
    left: -25%;
}