.projects-root .background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;

    svg{
        position: absolute;
    }
}
.red-blob{
    width: 30%;
    bottom: 0;
    left: 35%;
    transform: translateY(33%);
    fill: hsl(356deg, 89%, 34%);

    path{
        filter: url(#red-blob-shadow);
    }
}
.brown-blob{
    width: 38%;
    bottom: 30%;
    right: -14%;
    fill: hsl(22deg, 41%, 18%);

    path{
        filter: url(#brown-blob-shadow);
    }
}
.green-blob{
    width: 42%;
    left: 14%;
    transform: translateY(-52%);
    fill: hsl(179deg, 89%, 21%);

    path{
        filter: url(#green-blob-shadow);
    }
}