.animations{
    $stroke-100: 0.5px;
    $stroke-200: 1px;

    position: relative;
    height: 100%;
    transition: transform 1.5s;

    > svg{
        transition: transform 1.5s;
        
        &:hover{
            transform: scale(1.35);
        }
    }
    svg{
        position: absolute;
    }

    .stroke-100{
        stroke-width: $stroke-100;
    }

    .stroke-200{
        stroke-width: $stroke-200;
    }

    .extensions-animation{
        $primary-clr: hsl(285deg, 83%, 20%);
        $secondary-clr: black;

        width: 31%;
        left: 20%;
        bottom: 20%;

        :not(g){
            fill: $primary-clr;
            filter: url(#extensions-shadow);
        }
        
        .fill-secondary{
            fill: $secondary-clr;
        }
    }

    .chat-animation{
        $primary-clr: hsl(21deg, 78%, 46%);
        $secondary-clr: black;

        width: 16%;
        left: 52%;

        :not(g){
            filter: url(#chat-shadow);
        }

        .fill-primary{
            fill: $primary-clr
        }

        .stroke-secondary{
            stroke: $secondary-clr;
        }
    }

    .tasks-animation{
        $primary-clr: hsl(179deg, 89%, 21%);

        width: 25%;
        right: 0;
        top: 11%;

        :not(g){
            filter: url(#tasks-shadow);
        }

        .fill-primary{
            fill: $primary-clr;
        }
    }

    .restaurant-animation{
        $primary-clr: hsl(356deg, 89%, 34%);
        $secondary-clr: black;

        width: 25%;
        bottom: 0;
        right: 20%;

        :not(g){
            filter: url(#restaurant-shadow);
        }

        .tick{
            stroke: $primary-clr;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 3.5px;
            fill: none;
        }

        line{
            stroke-width: $stroke-200;
            stroke: $primary-clr;
        }

        .fill-primary{
            fill: $primary-clr;
        }
        .stroke-primary{
            stroke: $primary-clr;
        }
        .stroke-secondary{
            stroke: $secondary-clr;
        }
    }
}