.list{
    font-size: 1.5vw;
    width: 70%;
    margin-bottom: 4vh;

    > div:first-child{
        fill: var(--clr-primary);
    }
    
    > div:not(:first-child){
        text-transform: uppercase;
        margin-top: 3.2%;
        fill: white;
    }
    
    > :first-child .name{
        height: 50%;
    }

    @media only screen and (min-width: 700px) and (orientation: landscape) {
        width: 100%;
        margin-bottom: 2vh;
    }
}
.name{
    fill: black;

    path{
        filter: url(#name-shadow);
    }
}

.list-svg{
    height: 50%;
    fill: black;
    margin-left: auto;
    margin-right: 6%;
}